.l-main-section
  // h2 Angular Projects
  h2 Angularプロジェクト
  // p We'd love for you to contribute to our source code and to make Angular projects even better.
  p ソースコードとAngularプロジェクトをより良くするための貢献を求めています。


  .l-sub-section
    h3 Angular for JavaScript or Dart

    // p Angular is a development platform for building mobile and desktop applications.
    p Angularはモバイル、デスクトップアプリケーションを構築するための開発プラットフォームです。

    // a(href="https://github.com/angular/angular.js/blob/master/CONTRIBUTING.md" class="button" md-button) Contribute to Angular for JS
    a(href="https://github.com/angular/angular.js/blob/master/CONTRIBUTING.md" class="button" md-button) Angular for JS へ貢献

    // a(href="https://github.com/angular/angular.dart/blob/master/CONTRIBUTING.md" class="button" md-button) Contribute to Angular for DART
    a(href="https://github.com/angular/angular.dart/blob/master/CONTRIBUTING.md" class="button" md-button) Angular for DART へ貢献

  .l-sub-section
    h3 Angular Material

    // p Our goal is to deliver a lean, lightweight set of Angular-based UI elements that implement the material design specification for use in Angular single-page applications (SPAs).
    p 私たちのゴールはAngularのシングルページアプリケーション(SPAs)で使用するため、効率的で、軽量なAngularベースのマテリアルデザイン仕様を実装したUIセットを 提供することです。

    // a(href="https://github.com/angular/material/blob/master/docs/guides/CONTRIBUTING.md" class="button" md-button) Contribute to Angular Material
    a(href="https://github.com/angular/material/blob/master/docs/guides/CONTRIBUTING.md" class="button" md-button) Angular Material への貢献

  .l-sub-section
    h3 AngularFire

    // p AngularFire is the officially supported Angular binding for Firebase. Firebase is a full backend so you don't need servers to build your Angular app.
    p AngularFireはAngularとFirebaseのバインディングを公式にサポートしています。Firebaseは完全なバックエンドであるため、Angularアプリを構築するのにサーバを必要としません。


    // a(href="https://github.com/firebase/angularFire" class="button" md-button) Contribute to AngularFire
    a(href="https://github.com/firebase/angularFire" class="button" md-button) AngularFireへの貢献

